.checkout_link {
    background-color: #2a8d42;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    opacity: 1;
    border-radius: 10px;
}

a:hover,
a:active {
    background-color: #2a8d42;
    opacity: 0.7;
}